<footer class="bg-dark text-center text-lg-start text-light" id="pied">
  <div class="container p-4" id="text">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h5 class="text-uppercase text-light">
          <img alt="" width="30" src="../../assets/info.png" />&nbsp;
          Informations
        </h5>

        <p style="margin-left: 38px">
          This template was made by Sup'management computer science student. You
          can find the Git repository by clicking on the Github icon bellow.
          Thank you!
        </p>
      </div>
    </div>
  </div>

  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright
    <a class="text-dark" href=""
      ><img alt="" src="../../assets/github.png"
    /></a>
  </div>
</footer>
